<?php print "<?php"; ?>


namespace Hunter\<?php print $module; ?>\Controller;

/**
 * Class <?php print $class_name; ?>.
 *
 * @package Hunter\<?php print $module; ?>\Controller
 */
class <?php print $class_name; ?> {
<?php foreach($routes as $route): ?>
  /**
   * <?php print $route['method']; ?>.
   *
   * @return string
   *   Return <?php print $route['method']; ?> string.
   */
  public function <?php print $route['method']; ?>() {
    return [
      '#type' => 'markup',
      '#markup' => 'Implement method: <?php print $route['method']; ?>',
    ];
  }
<?php endforeach; ?>
}
