<?php print "<?php"; ?>


namespace Hunter\<?php print $module; ?>\Controller;

use Zend\Diactoros\ServerRequest;

/**
 * Class <?php print $class_name; ?>.
 *
 * @package Hunter\<?php print $module; ?>\Controller
 */
class <?php print $class_name; ?>Controller {
<?php foreach($routes as $route): ?>
  /**
   * <?php print $route['method']; ?>.
   *
   * @return string
   *   Return <?php print $route['method']; ?> string.
   */
  public function <?php print $route['method']; ?>(ServerRequest $request<?php echo !empty($route['args']) ? ', ' : ''; ?><?php print implode(", ",$route['args']); ?>) {
  <?php if(!empty($route['args'])): ?>
  return 'Implement method: <?php print $route['method']; ?> with parameter(s): '.<?php print implode(". ",$route['args']); ?>;
  <?php else: ?>
  return 'Implement method: <?php print $route['method']; ?>';
  <?php endif; ?>
}

<?php endforeach; ?>
}
