<!DOCTYPE html>
<html lang="en">

<head>
    {% set _desc = block('description') %} {% if _desc is not empty %} {% set description = _desc %} {% else %} {% set description = "REPLACE ME!" %} {% endif %}

    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{ asset_url }}/img/facebook-share.png">
    <meta property="og:url" content="{{ base_url ~ current_path }}">
    <meta property="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <link rel="icon" href="{{ asset_url }}/img/favicon.ico"> {% block meta %}{% endblock %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset_url }}/compiled/main.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    {% block body %}{% endblock %} {% block scripts %}{% endblock %}
</body>

</html>
